@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.body {
  font-family: 'Kanit', sans-serif;
  width: 100S;
}

.body .logo__ubicacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 7px 0px 20px;
}

.header__flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-transform: capitalize;
  height: 40px;
}

.header__flexbox .navbar-light .navbar-nav .nav-link {
  color: #0f0f0f;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.header__flexbox .navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.nav-link:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

/*-----------------------------section-----------------------------*/
.titulo {
  background: -webkit-gradient(linear, right bottom, left top, from(#9e9e9e), color-stop(#f1f9ff), to(#9e9e9e));
  background: linear-gradient(to left top, #9e9e9e, #f1f9ff, #9e9e9e);
  color: black;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 15px;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
  margin-top: 0px;
}

h1 {
  color: #855085;
  font-style: italic;
  text-align: center;
  font-size: 30px;
}

.subTitulo {
  color: black;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 10px;
  font-size: 25px;
  font-family: 'Kanit', sans-serif;
  margin-top: 10px;
}

h2 {
  color: #89209e;
}

/*----bucle margin----*/
.m-1 {
  margin: 5px;
}

.m-2 {
  margin: 10px;
}

.m-3 {
  margin: 15px;
}

.m-4 {
  margin: 20px;
}

.m-5 {
  margin: 25px;
}

.m-6 {
  margin: 30px;
}

/*----mixin contacto----*/
@media (max-width: 780px) {
  .logo__ubicacion img {
    width: 150px;
    margin-top: 0px;
  }
  .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
  }
  .navbar-light .navbar-toggler-icon {
    height: 10px;
    width: 15px;
  }
  .nav-link {
    padding: .05rem .05rem;
  }
  .header__flexbox .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .header__flexbox {
    font-size: 9px;
    max-height: 0px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .navbar-toggler {
    padding: 0px;
  }
  .titulo {
    letter-spacing: 8px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .logo__ubicacion img {
    width: 100px;
    margin-top: 0px;
  }
  .navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
  }
  .navbar-light .navbar-toggler-icon {
    height: 6px;
    width: 8px;
  }
  .navbar-nav {
    width: 100px;
  }
  .nav-link {
    padding: .08rem .08rem;
  }
  .header__flexbox .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .header__flexbox {
    max-height: 28px;
    margin-top: -10px;
    -webkit-margin-after: -5px;
            margin-block-end: -5px;
  }
  .navbar-toggler {
    padding: 0px;
  }
  .titulo {
    letter-spacing: 8px;
    font-size: 10px;
  }
}

/*-----------------------------section-----------------------------*/
.carousel-item {
  position: relative;
  display: none;
  float: center;
  width: 100%;
  margin: 10px 0px 20px 0px;
}

.imagenInicio2 {
  margin: 20px 0px 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*-----------------------------footer-----------------------------*/
footer {
  background-color: rgba(12, 12, 12, 0.925);
}

footer .footerFlexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footerFlexBox p {
  margin: 15px;
  color: white;
}

@media (max-width: 780px) {
  .carousel-item {
    max-width: 100%;
    height: 400px;
  }
  .carousel-item img {
    max-height: 450px;
  }
  .imagenInicio2 img {
    width: 700px;
    height: 320px;
    -webkit-margin-after: 20px;
            margin-block-end: 20px;
  }
  .subTitulo {
    margin-top: 10px;
    letter-spacing: 2px;
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .carousel-item {
    max-height: 200px;
    max-width: 350px;
  }
  .imagenInicio2 img {
    margin: 0px 0px 0px 0px;
    max-height: 150px;
    max-width: 350px;
  }
  .imagenInicio2 {
    margin: 0px;
  }
  .carousel-item img {
    max-height: 200px;
  }
  .subTitulo {
    margin-top: 10px;
    letter-spacing: 2px !important;
    font-size: 10px;
  }
}

.imagenFondoContacto {
  background-image: url(https://i.pinimg.com/originals/19/0d/e6/190de6003cc165f17c0f8639281c30c3.jpg);
  background-size: cover;
}

.imagenFondoContacto .seccionContacto1 {
  background: -webkit-gradient(linear, right bottom, left top, from(#d19bad), to(#c986ce));
  background: linear-gradient(to left top, #d19bad, #c986ce);
  width: 320px;
  border-radius: 4px;
  -webkit-box-shadow: 20px 20px 70px 20px black;
          box-shadow: 20px 20px 70px 20px black;
  margin: 18%;
  margin-top: 3%;
  text-transform: capitalize;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  padding: 5px;
}

.imagenFondoContacto .seccionContacto1 .tituloFormulario {
  font-size: 20px;
  text-align: center;
  text-transform: capitalize;
  color: whitesmoke;
  letter-spacing: 3px;
  padding: 5px;
  border-style: double;
}

.imagenFondoContacto .seccionContacto1 .m-1 div {
  padding: 2px;
}

.imagenFondoContacto .seccionContacto1 .m-1 .areaTexto {
  background-color: #f0f0f0;
  border-style: none;
}

.imagenFondoContacto .seccionContacto1 .botonContacto {
  padding: 5px;
  background: -webkit-gradient(linear, right bottom, left top, from(#bdc3c7), to(#454d55));
  background: linear-gradient(to left top, #bdc3c7, #454d55);
  border-radius: 5px;
  width: auto;
  cursor: pointer;
}

.imagenFondoContacto .seccionContacto1 .botonContacto:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.cajas {
  display: -ms-grid;
  display: grid;
  grid-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 190px 190px 190px 190px 190px;
      grid-template-columns: 190px 190px 190px 190px 190px;
}

.cajas .cajas__img {
  background-color: #4f4d50;
  color: #fff;
  border-radius: 5px;
  padding: 2px;
  margin: 10px 0px 10px 0px;
}

.tips {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  text-transform: capitalize;
  margin: 20px;
}

.tips .tips__titulo {
  font-size: 20px;
  margin: 10px;
}

.tips .tips__cuidados {
  margin: 40px;
}

.tips .tips__cuidados .tips__video {
  margin: 10px;
}

.imagenFondoProductos {
  background-image: url(https://p4.wallpaperbetter.com/wallpaper/426/246/444/marble-cool-pictures-wallpaper-preview.jpg);
  background-size: cover;
}

.productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  margin: 30px;
}

.productos .productos__contenedor:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: cubic-bezier(0.04, 0.04, 0.88, 0.88) 0.5s;
  transition: cubic-bezier(0.04, 0.04, 0.88, 0.88) 0.5s;
  border: 1.5px solid #000;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 60px 2px #363535;
          box-shadow: 2px 2px 60px 2px #363535;
}

.productos img {
  width: 270px;
}

.productos h2 {
  text-align: center;
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 10px;
}

.productos p {
  text-align: center;
  text-transform: capitalize;
  color: #161688;
  font-size: 16px;
  opacity: 0.5;
}

/*-----------------------------section-----------------------------*/
.imagenFondoQuienesSomos {
  background-image: url(https://i2.wp.com/robbreport.mx/wp-content/uploads/2019/04/diamante-3.jpg?fit=1024%2C768&ssl=1);
  background-size: 1100px 800px;
  background-repeat: no-repeat;
}

.quienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 40px;
  padding: 10px;
}

.quienesSomos .quienesSomos__parrafo {
  color: #080708;
  width: 700px;
  margin: 0px;
  padding: 2px;
  word-spacing: 5px;
  font-size: 20px;
  font-style: italic;
  background-image: url(https://media.istockphoto.com/videos/loopable-soft-background-video-id939273066?s=640x640);
  background-size: cover;
}

@media (max-width: 576px) {
  .body .logo__ubicacion {
    margin: 5px;
  }
  .header__flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 100%;
  }
  .navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    width: 50px;
  }
  .navbar-nav a {
    font-size: 6px;
  }
  .navbar-toggler-icon {
    width: 15px;
    height: 15px;
  }
  .seccionPrincipal h1 {
    font-size: 10px;
    letter-spacing: 8px;
  }
  .carousel-item {
    width: 550px;
    margin: 0px 0px 0px 10px;
    height: 450px;
  }
  .imagenInicio2 img {
    height: 200px;
    width: 500px;
    margin: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin: 10px;
  }
  .subTitulo {
    letter-spacing: 5px;
    font-size: 10px;
  }
  .footerFlexBox {
    font-size: 6px;
  }
  .footerFlexBox img {
    width: 10px;
  }
}

.error404 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: black solid 1.5px;
  min-height: 67vh;
}

.error404 .error404_img {
  margin: 0px 0px 0px;
}

.error404 .error404_titulo {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  color: #2f6fa3;
  margin-top: 20px;
}

.error404 .error404_titulo .error404_descripcion {
  color: black;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  margin: 20px 0px 30px;
}

.error404 .error404_boton {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.error404 .error404_boton .error404_inicio {
  border: solid #4a7ba3;
  background-color: #4a7ba3;
  color: #0c0c0c;
  font-size: 18px bold;
  padding: 5px;
  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 10px 30px;
}

.error404 .error404_boton .error404_inicio:hover {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  -webkit-transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  transition: all cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}
/*# sourceMappingURL=style.css.map */