.imagenFondoContacto {
    background-image: url(https://i.pinimg.com/originals/19/0d/e6/190de6003cc165f17c0f8639281c30c3.jpg);
    background-size: cover;
    .seccionContacto1 {
        background: linear-gradient(to left top, #d19bad, #c986ce);
        width: 320px;
        border-radius: 4px;
        box-shadow: 20px 20px 70px 20px black;
        margin: 18%;
        margin-top: 3%;
        text-transform: capitalize;
        text-decoration: solid;
        padding: 5px;
        .tituloFormulario {
            font-size: 20px;
            text-align: center;
            text-transform: capitalize;
            color: whitesmoke;
            letter-spacing: 3px;
            padding: 5px;
            border-style: double; }
            .m-1 { 
                 div { 
                 padding: 2px;}
                    .areaTexto {
                     background-color: rgb(240, 240, 240);
                     border-style: none; }
            }       
            .botonContacto {
                padding: 5px;
                @include boton ;
                &:hover { 
                transform: translateX(-2px);
                transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
               
            }
           }
    }
       
}
@media (max-width: 768px) {
    .imagenFondoContacto .seccionContacto1 {
        width: 250px; 
        margin: 5%;}
        .imagenFondoContacto .seccionContacto1 .tituloFormulario {
            font-size: 15px;
            letter-spacing: 2px;
            padding: 3px;
             }
             .imagenFondoContacto .seccionContacto1 .m-1 .areaTexto {
                width: 160px; }
                .imagenFondoContacto .seccionContacto1 .botonContacto {
                    padding: 2px; }
                    .mapaContacto {
                        width: 230px; }
                        p {
                            margin-top: 5px;
                            margin-bottom: 0px;
                        }
}

@media (max-width: 375px) {
    .imagenFondoContacto .seccionContacto1 {
        width: 220px; 
        margin:25px 0px 0px 20px ;
    }
        .imagenFondoContacto .seccionContacto1 .tituloFormulario {
            font-size: 12px;
            letter-spacing: 1px;
            padding: 1.5px;
             }
             .imagenFondoContacto .seccionContacto1 .m-1 .areaTexto {
                width: 130px; 
            }
            .areaTexto1 { width: 8px;}
            .textoContacto {
                    font-size: 10px;
                }
                .imagenFondoContacto .seccionContacto1 .botonContacto {
                    padding: 2px; 
                font-size: 9px;}
                    .mapaContacto {
                        width: 190px;
                    height: 100px; }
                        p {
                            margin-top: 5px;
                            margin-bottom: 0px;
                        }
}
