.cajas {
    display: grid;
    justify-content: center;
    grid-gap: 40px;
    grid-template-columns: 12% 12% 12% 12% 12%;
    max-width: 100%;
     

    .cajas__img {
        background-color: rgb(79, 77, 80);
        color: #fff;
        border-radius: 5px;
        padding: 2px;
        margin: 10px 0px 10px 0px;
        width: 100%;
    }
}
.tips {
    display: flex;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    text-transform: capitalize;
    padding-left: 30px;
    padding-right: 30px;
    
    .tips__titulo {
      font-size: 20px;
      margin: 20px ;
    }
    .tips__p { 
        font-size: 18px;
    }
    .tips__cuidados {
        margin: 20px;
        
        .tips__video {
            margin: 10px;
            width: 350px;
            height: 220px;
                                  
        }

    }
}
