/*-----------------------------section-----------------------------*/
.carousel-item {
    position: relative;
    display: none;
    float: center;
    width: 100%;
    height: auto;
    margin: 10px 0px 20px 0px;
}

.imagenInicio2 {
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
    }
.imagenInicio2 img { 
    max-width: 100%;
}
/*-----------------------------footer-----------------------------*/
footer {
    background-color: rgba(12, 12, 12, 0.925);

    .footerFlexBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;

        p {
            margin: 15px;
            color: white;
        }
    }
}
@media (max-width: 991px) {
    .subTitulo {
        margin-top: 20px;
        letter-spacing: 3px ;
        font-size: 20px;
    } 
}
@media (max-width: 768px) {
    .carousel-item {
        max-width: 100%;
        height: auto;
    }
    
    .imagenInicio2 img {
        margin-block-end: 22px;
        margin-top: 10px;
    }
    .subTitulo {
        margin-top: 20px;
        letter-spacing: 3px ;
        font-size: 18px;
    }
    p { font-size: 12px;}
}


@media (max-width: 420px) {
    
    .imagenInicio2 img {
        margin: 0px 0px 0px 0px;
        height: auto;
        max-width: 100%;
    }
    .imagenInicio2 {
        margin: 20px 0px 20px 0px;
    }
    
    .subTitulo {
        margin-top: 5px;
        letter-spacing: 2px ;
        font-size: 10px;
    }
    .footer { 
        height: 40px;
        bottom: 0%;
        width: 100%;}
    
    .footerFlexBox img { width: 15px;}
    p { font-size: 8px;}
 }