/*-----------------------------section-----------------------------*/
.seccionPrincipal { 
    min-height: 58vh;
}
.carousel-item {
    position: relative;
    display: none;
    float: center;
    width: 100%;
    height: auto;
    margin: 10px 0px 20px 0px;
}
.imagenInicio2 {
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: center;
    }
.imagenInicio2 img { 
    max-width: 100%;
}
/*-----------------------------footer-----------------------------*/
footer {
    background-color: rgba(12, 12, 12, 0.925);
    .footerFlexBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        p {
            margin: 15px;
            color: white;
        }
    }
}
