.imagenFondoProductos {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/426/246/444/marble-cool-pictures-wallpaper-preview.jpg);
    background-size: cover;
 }

.productos {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    text-align: center;
    margin: 30px;
       
    .productos__contenedor:hover {
        transform: scale(1.1);
        transition: cubic-bezier(.04,.04,.88,.88) .50s;
        border: 1.5px solid #000;
        margin: 20px;
        box-shadow: 2px 2px 60px 2px rgb(54, 53, 53);
    }
    img {
        width: 270px;
    }
    h2 {
        text-align: center;
        color: black;
        text-transform: capitalize;
        font-size: 20px;
        margin-top: 10px;
    }
    .productos__precio {
        text-align: center;
        text-transform: capitalize;
        color: rgb(22, 22, 136);
        font-size: 17px;
        opacity: 0.5;
    }
}

