/*-----------------------------section-----------------------------*/
.imagenFondoQuienesSomos {
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/507/885/233/diamond-gold-jewel-jewelry-wallpaper-preview.jpg);
    background-size: cover;
}
.quienesSomos {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    width: 100%;
    margin: 10px 0px 10px;
       .quienesSomos__parrafo {
           color: rgb(8, 7, 8);
           width: 600px;
           margin: 10px 20px;
           text-transform: capitalize;
           letter-spacing: 1px;
           font-size: 14px;
           font-style: italic;
           border-style:groove ;
        }
}
